@import './colors';

.carousel {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;

  &::before,
  &::after {
    align-self: center;
    color: $primary-color;
    cursor: pointer;
    font-size: 5rem;
  }

  &::before {
    content: '‹';
    margin-left: calc(-1rem - 23px);
    margin-right: 1rem;
  }

  &::after {
    content: '›';
    margin-left: 1rem;
    margin-right: calc(-1rem - 23px);
  }

  .carousel__item + .carousel__item {
    margin-left: 1rem;
  }
}
