@import './colors';

.about {
  @media (min-width: 576px) {
    display: flex;
  }

  & > * {
    flex: 1;
  }

  .about__image {
    background-image: url(../img/capsule.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    height: 21rem;
    margin-bottom: 2rem;
    width: 100%;

    @media (min-width: 576px) {
      height: auto;
      margin-bottom: 0;
      margin-right: 2rem;
      max-width: 20rem;
    }
  }

  .about__title {
    color: $primary-color;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase;
  }

  .about__text {
    color: #333;
    font-size: 0.875rem;
    line-height: 2;
    margin: 0px;
    margin-top: 1rem;
  }
}
