.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #ededed;
  display: grid;
  margin: 0px;
  max-width: 21.25rem;
  overflow: hidden;

  @media (min-width: 576px) {
    max-width: none;
  }

  .card__image {
    object-fit: cover;
    object-position: center;
    height: 280px;
    width: 100%;
  }

  .card__description {
    padding: 1.25rem;

    .card__title {
      color: #333;
      font-size: 1rem;
      margin: 0px;
      margin-bottom: 0.5rem;
    }

    p {
      color: #555;
      font-size: 0.875rem;
      line-height: 1.5;
      margin: 0px;
    }
  }
}
